<h1>Movie Registration Form</h1>
<form action="Result" method="post">
    <p>
        ID: 
        <input type="text" name="ID" />
    </p>
    <p>
        <script type="text/javascript">
            function validateTitle() {
                var titleField = document.getElementById("Title");
                const titleTest = titleField.value.length < 50;
                if (!titleTest) {
                    alert("Title cannot be longer than 50 characters")
                }
            }
        </script>
        Title: <input type="text" name="Title" id="Title" placeholder="maximum 50 characters" onchange="validateTitle()"/>
        
    </p>
    <p>
        Genre:
        <select name="Genre">
            <option value="comedy">Comedy</option>
            <option value="action">Action</option>
            <option value="horror">Horror</option>
            <option value="adventure">Adventure</option>
        </select>
    </p>
    <p>
        Year: <input type="number" name="Year" min="1888" max="2021" />
    </p>
    <p>
        Actors: <input type="text" name="Actors" />
    </p>
    <p>
        Directors: <input type="text" name="Directors" />
    </p>
    <input type="submit"/>

</form>